---
import PostPreview from '@/components/blog/PostPreview.astro'
import Section from '@/components/Section.astro'
import type { BlogSection as BlogSectionProps } from './BlogSection.types'

import { getAllPosts, sortMDByDate } from '@/utils'

interface Props extends BlogSectionProps {}

const { config, maxVisiblePosts } = Astro.props
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, maxVisiblePosts ?? 3)
---

{
	config.visible && allPostsByDate.length > 0 && (
		<Section title={config.title}>
			<ul class='flex flex-col gap-y-2'>
				{allPostsByDate.map((p) => (
					<li class='flex flex-col gap-x-2 sm:flex-row'>
						<PostPreview post={p} />
					</li>
				))}
			</ul>
		</Section>
	)
}
