---
import ContentPreview from '@/components/blog/ContentPreview.astro'
import Section from '@/components/Section.astro'
import type { BlogSection as BlogSectionProps } from './BlogSection.types'

import { getAllPosts, sortMDByDate } from '@/collections/post'

interface Props extends BlogSectionProps {}

const { config, maxVisiblePosts } = Astro.props
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, maxVisiblePosts ?? 3)
---

{
	allPostsByDate.length > 0 && (
		<Section {...config} class='flex flex-col gap-y-4'>
			<ul class='flex flex-col gap-y-2'>
				{allPostsByDate.map((p) => (
					<li class='flex flex-col gap-x-2 sm:flex-row'>
						<ContentPreview content={p} />
					</li>
				))}
			</ul>
		</Section>
	)
}
