---
import PageLayout from '../layouts/HomeLayout.astro'
import cv from '@/data'

import MainSection from '../components/sections/Main/MainSection.astro'
import ExperienceSection from '@/components/sections/Experience/ExperienceSection.astro'
import EducationSection from '@/components/sections/Education/EducationSection.astro'
import BlogSection from '@/components/sections/Blog/BlogSection.astro'
import SkillSection from '@/components/sections/Skills/SkillSection.astro'
import ConferencesEventsSection from '@/components/sections/ConferencesEvents/ConferencesEventsSection.astro'

const { config, sections } = cv()
---

<PageLayout meta={config.meta}>
	<div class='flex w-full flex-col gap-y-10'>
		<MainSection {...sections.main} />
		<BlogSection {...sections.blog} />
		<ExperienceSection {...sections.experience} />
		<EducationSection {...sections.education} />
		<ConferencesEventsSection {...sections.conferencesEvents} />
		<SkillSection {...sections.skills} />
	</div>
</PageLayout>
