---
import Section from '@/components/Section.astro'
import type { EducationSection } from './EducationSection.types'
import Diploma from './Diploma.astro'

interface Props extends EducationSection {}

const { config, diplomas } = Astro.props
---

<Section {...config}>
	{diplomas.map((diploma) => <Diploma {...diploma} />)}
</Section>
