---
export const prerender = true

import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import { type Config } from '@/types/data'

import Button from '@/components/Button.astro'
import Pagination from '@/components/Paginator.astro'
import ContentPreview from '@/components/blog/ContentPreview.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCollection from '@/collections/projects'
import CustomIconTag from '@/components/customIcons/CustomIconTag.astro'

export const getStaticPaths = (async ({ paginate }) => {
	const allProjects = await ProjectCollection.getAll()
	const allProjectsByDate = await ProjectCollection.sortedByDate(allProjects)
	const uniqueTags = await ProjectCollection.getUniqueTags(allProjects)
	return paginate(allProjectsByDate, { pageSize: 10, props: { uniqueTags } })
}) satisfies GetStaticPaths

interface Props {
	page: Page<CollectionEntry<'projects'>>
	uniqueTags: string[]
}

const { page, uniqueTags } = Astro.props

const meta = {
	description: 'Posts',
	title: 'Projects'
} as Config['meta']

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: `← Previous Posts`,
			url: page.url.prev
		}
	}),
	...(page.url.next && {
		nextUrl: {
			text: `Next Posts →`,
			url: page.url.next
		}
	})
}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<h1 class='mb-6 mt-5 text-2xl font-bold'>Projects</h1>
		{page.data.length === 0 && <p>No project yet.</p>}

		{
			page.data.length > 0 && (
				<div class='grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8'>
					<section aria-label='Projects posts list'>
						<ul class='flex flex-col gap-y-4 text-start'>
							{page.data.map((p) => (
								<ContentPreview urlRoot='projects' content={p} withDesc />
							))}
						</ul>
						<Pagination {...paginationProps} />
					</section>
					{!!uniqueTags.length && (
						<aside>
							<h2 class='mb-4 flex items-center text-lg font-semibold'>
								<CustomIconTag />
								Tags
							</h2>
							<ul class='text-bgColor flex flex-wrap gap-2'>
								{uniqueTags.map((tag) => (
									<li>
										<Button title={tag} href={`/tags/${tag}/`} style='pill' />
									</li>
								))}
							</ul>
							<span class='mt-4 block sm:text-end'>
								<a aria-label='View all blog categories' class='' href='/tags/' data-astro-prefetch>
									View all →
								</a>
							</span>
						</aside>
					)}
				</div>
			)
		}
	</div>
</PageLayout>
