---
import ImageSrc from '../ImageSrc.astro'
import type { ContentEntry } from '@/content/config'
import HeroTitle from './HeroTitle.astro'

interface Props {
	content: ContentEntry
}

const {
	content: { data, render }
} = Astro.props

const { content } = Astro.props as Props
---

{
	data.coverImage && (
		<div class='aspect-h-9 aspect-w-16 mb-6'>
			<ImageSrc
				alt={data.coverImage.alt || ''}
				class='rounded-2xl object-cover'
				src={data.coverImage.image.src}
			/>
		</div>
	)
}
<HeroTitle content={content} />
