---
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'

import { CONFIG } from '@/site-config'
import type { Config } from '@/types/data'

interface Props {
	meta: Partial<Config['meta']>
}

const { meta } = Astro.props
---

<html lang={CONFIG.i18n.lang} class='scroll-smooth'>
	<head>
		<BaseHead {...meta} />
	</head>

	<body class='flex justify-center bg-background'>
		<ThemeProvider />
		<main
			class='flex min-h-screen w-screen max-w-[60rem] flex-col items-center px-6 pb-10 pt-7 font-satoshi text-[0.92rem] leading-relaxed sm:px-10 lg:px-10'
		>
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
