---
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import Sidebar from '@/components/Sidebar.astro'
import ThemeProvider from '@/components/ThemeProvider.astro'
import cv from '@/data'

import { CONFIG } from '@/site-config'
import type { Config } from '@/types/data'

interface Props {
	meta: Config['meta']
}

const { meta } = Astro.props

const { sections } = cv()
---

<html lang={CONFIG.i18n.lang} class='scroll-smooth'>
	<head>
		<BaseHead {...meta} />
	</head>

	<body class='flex justify-center overflow-x-hidden bg-background xl:relative'>
		<ThemeProvider />
		<main
			class='flex min-h-screen w-screen max-w-[60rem] flex-col items-center px-6 pb-10 pt-7 font-satoshi text-[0.92rem] leading-relaxed sm:px-10 lg:px-10'
		>
			<Header />
			<slot />
			<Footer />
		</main>

		<Sidebar sections={sections} className='sticky top-8 mt-8' />
	</body>
</html>
